.App {
  padding: 1%;
  width: auto;
  margin-left: 60px;
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  .App {
    width: max-content;
  }
}

.clickable :hover {
  cursor: pointer;
}

@media print {
  .hide-in-print-preview {
    display: none;
  }
  @page {
    size: auto;
    margin: 0;
  }
}

.quote-builder-print-configuration {
  @page {
    size: landscape;
    margin: 1%;
  }

  @media print {
    body {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }
}

.label-maker-print-configuration {
  @page {
    size: portrait;
  }
}